body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
main {
    width:80%; 
    height:78.7%; 
    margin:auto; 
    position: relative;
    display:block;
} 

header{
    background-color:#717dc9; width:100%; max-height:60px; text-align: center;padding:1% 0
}
.left_col {
    background-color:#dddddd; border-right:2px solid #717dc9; width:20%; height:100%; float:left; padding:10px; text-align: center;
} 
.right_col {
    background-color:#dddddd; width:70%; height:100%; float:left; padding:10px; 
} 
footer {
    background-color:#717dc9; width:100%; max-height:60px;text-align: center; clear:left; padding:1% 0;
}
