body
{
    margin: 0px;
}
#main
{
    color: whitesmoke;
}
#a,#b,#c,#d,#e
{    
    
}
#text
{
    margin: 0 0 10px 0 ;    
    width: 150px;
    height: 16px;
}
#a
{
    background: linear-gradient(180deg, rgb(255, 0, 0), rgb(0, 19, 255));
}
#a:hover
{
    background: linear-gradient(180deg, rgba(224,255,0,1) 46%, rgba(2,3,250,1) 55%);
}
#b
{
    background: linear-gradient(135deg, rgb(203, 236, 12), rgb(19, 182, 45));
}
#b:hover
{
    background: linear-gradient(180deg, rgba(0,0,0,1) 20%, rgba(255,0,0,1) 46%, rgba(250,247,2,1) 70%);
}
#c
{
    background: linear-gradient(180deg, rgba(228,126,8,1) 3%, rgba(10,224,24,1) 33%, rgba(215,240,10,1) 63%, rgba(152,14,237,1) 95%);
}
#c:hover
{
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(21,10,240,1) 50%, rgba(237,28,14,1) 100%);
}
#d
{
    background: radial-gradient(at right, red, orangered, gold);
}
#d:hover
{
    background: linear-gradient(180deg, rgba(255,255,255,1) 51%, rgba(250,2,2,1) 80%);
}
#e
{
    background: linear-gradient(170deg, rgb(22, 128, 21) 18%, rgb(25, 39, 216), rgb(59, 56, 240));
}
#e:hover
{
    background: linear-gradient(180deg, rgba(37,125,4,1) 16%, rgba(255,255,255,1) 50%, rgba(250,2,2,1) 81%);
}
#img
{
    height: 189.8px;
    margin: 0 0 0 45px ;
}
#img1
{
    height: 189.9px;
    transform: scale(-1,1);
}
#img2
{
    height: 189.9px;
    transform: rotate(90deg);
}
#img3
{
    height: 95px;
    padding: 0 0 2% 2% ;
}
#img4
{
    height: 189.9px;
    padding: 0 0 0 240px ;
}
#img5
{
    height: 189.9px;
    transform: skew(20deg);
}
