body
{
    margin: 0;
    padding: 0;
}

.main 
{
    width: 99%;
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    grid-template-rows: 1fr 1fr  ;
    justify-items: center;
    margin: 1.3% 1% 0 1%;
}

.a 
{
    
    width: 98%;
    height: 28em;
    align-self: center;
    display: grid;
    grid-template-rows: 1fr 1fr  ;
}

.a2
{
    background-color: black;
    color: whitesmoke;
    width: 100%;
    height: 13em;
}

.b
{
    
    width: 98%;
    height: 28em;
    align-self: center;
    display: grid;
    grid-template-rows: 1fr 1fr ;
}

.b2
{
    background-color: black;
    color: whitesmoke;
    width: 49%;
    height: 13em;
}

img
{
    width: 100%;
    height: 100%;
}
