body
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

header
{
    background-color: black;
    width: 95%;
    height: 5em;
    margin: 1% 0 2% 0;
    text-align: center;
    color: whitesmoke;
}

footer
{
    background-color: black;
    width: 95%;
    height: 5em;
    margin: 0 0 0 0;
    text-align: center;
    color: whitesmoke;
}

.main
{
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.left
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 19%;
    height: 40em;
}

.inleft
{
    background-color: black;
    width: 100%;
    height: 15em;
}

.right
{
    width: 79%;
    display: flex;
    flex-direction: column;
}

.top
{
    width: 100%;
    background-color: black;
    height: 10em;
    color: whitesmoke;
}

.bottom
{
    display: flex;
    justify-content: space-between;
    width:100%;
    height: 30em;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-bottom: 4%;
}

.inbottom
{
    width: 31%;
    background-color: black;  
    height: 14em;
    margin-top: 2%;
}

img
{
    width: 100%;
    height: 100%;
}
