h1 {
   text-align: center;
}

body{
    width: 100%;
    height: 100%;
    text-align: center;
}

div {
  width: 10%;  
  display: inline-block;
  margin:auto;
  padding: 30px;
  text-align: center;
  background-color: sandybrown;
  color: red;
  border-color: darkblue;
}

div:hover
{
  color: whitesmoke;
  background-color: black;
}

a
{
  color: red;
}

a:hover
{
  color: whitesmoke;
}

.p2:hover
{
  transition: .5s;
}

.p3:hover
{
  transition: 3s;
}

.p4:hover
{
  transition-delay: 1s;
}

.p5:hover a
{
  font-size: 26px;
  color: whitesmoke;
}

